html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html header nav {
  display: flex;
  background-color: #94958b;
  text-decoration: none;
  margin-top: auto;
}
html header nav ul {
  list-style-type: none;
  display: flex;
}
html header nav ul li {
  list-style-type: none;
  display: flex;
}
html header nav ul li a {
  text-decoration: none;
  color: #464655;
  font-size: 3rem;
  display: flex;
  padding: 0  0 ;
}
html body {
  background-image: url('../images/Dragon.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #b7b6c1;
}
html body .container {
  width: 1000px;
}
html body .container h1 {
  color: #464655;
  font-size: 5rem;
  width: 700px;
  text-align: center;
}
html body .container h1 .TopHeader {
  padding-top: 30px;
}
html body .container .feature {
  display: flex;
  position: relative;
  margin-left: 125px;
}
html body .container .feature .explain {
  display: flex;
  position: absolute;
  font-size: 3rem;
  flex-wrap: wrap;
  width: 350px;
  padding: 30px;
  color: black;
}
html body .container .feature .btn {
  display: flex;
  position: absolute;
  width: 190px;
  font-size: 2rem;
  background-color: #94958b;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  border-radius: 50%;
  margin: 350px 0 0 110px;
}
